# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/

# Web related
lib/generated_plugin_registrant.dart

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release
.gitignore
.metadata
analysis_options.yaml
pubspec.lock
pubspec.yaml
README.md
android/.gitignore
android/build.gradle
android/gradle.properties
android/settings.gradle
android/app/build.gradle
android/app/src/debug/AndroidManifest.xml
android/app/src/main/AndroidManifest.xml
android/app/src/main/java/com/example/flutter_finalproject/MainActivity.java
android/app/src/main/res/drawable/launch_background.xml
android/app/src/main/res/drawable-v21/launch_background.xml
android/app/src/main/res/values/styles.xml
android/app/src/main/res/values-night/styles.xml
android/app/src/profile/AndroidManifest.xml
android/gradle/wrapper/gradle-wrapper.properties
assets/icons/building2-icon.png
assets/icons/maintenance-icon.png
assets/lang/ar-EG.json
assets/lang/en-US.json
ios/.gitignore
ios/Flutter/AppFrameworkInfo.plist
ios/Flutter/Debug.xcconfig
ios/Flutter/Release.xcconfig
ios/Runner/AppDelegate.swift
ios/Runner/Info.plist
ios/Runner/Runner-Bridging-Header.h
ios/Runner/Assets.xcassets/AppIcon.appiconset/Contents.json
ios/Runner/Assets.xcassets/LaunchImage.imageset/Contents.json
ios/Runner/Assets.xcassets/LaunchImage.imageset/README.md
ios/Runner/Base.lproj/LaunchScreen.storyboard
ios/Runner/Base.lproj/Main.storyboard
ios/Runner.xcodeproj/project.pbxproj
ios/Runner.xcodeproj/project.xcworkspace/contents.xcworkspacedata
ios/Runner.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
ios/Runner.xcodeproj/project.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings
ios/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
ios/Runner.xcworkspace/contents.xcworkspacedata
ios/Runner.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
ios/Runner.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings
lib/main.dart
lib/Language/config/config_lang.dart
lib/Language/generated/key_lang.dart
lib/Packages/Components/Add_Image/alert_choose.dart
lib/Packages/Components/Add_Image/info_imeg.dart
lib/Packages/Components/Additions/go_back.dart
lib/Packages/Components/Btn/simple_btn.dart
lib/Packages/Components/cach_image/image_user.dart
lib/Packages/Components/Common_traits/appbar.dart
lib/Packages/Components/Common_traits/Drawer/alert_dialog.dart
lib/Packages/Components/Common_traits/Drawer/custom_flag.dart
lib/Packages/Components/Common_traits/Drawer/custom_tile.dart
lib/Packages/Components/Common_traits/Drawer/drawer_header.dart
lib/Packages/Components/Common_traits/Drawer/drawer.dart
lib/Packages/Components/drop_down/drop_down.dart
lib/Packages/Components/Loading/app_loading.dart
lib/Packages/Components/Loading/enum_loading.dart
lib/Packages/Components/location/addres.dart
lib/Packages/Components/richText/rich_text.dart
lib/Packages/Components/Select_Screen/select_screen.dart
lib/Packages/Components/text_filed/simple_filed.dart
lib/Packages/Components/Toast/simple_toast.dart
lib/Packages/Components/upload_image_Invoice/image_list.dart
lib/Packages/Components/upload_image_Invoice/upload_image.dart
lib/Packages/Components/upload_image_Invoice/view_image.dart
lib/Packages/Pages/Archive/View/body.dart
lib/Packages/Pages/Auth/Views/forgot.dart
lib/Packages/Pages/Auth/Views/login.dart
lib/Packages/Pages/Auth/Views/register.dart
lib/Packages/Pages/Auth/Views/Info_User/infi_professionals.dart
lib/Packages/Pages/Auth/Views/Info_User/info_mechanice.dart
lib/Packages/Pages/Auth/Views/Info_User/info_owner.dart
lib/Packages/Pages/Auth/Views/Info_User/info_shop.dart
lib/Packages/Pages/Auth/Views/Info_User/info_user_Eng.dart
lib/Packages/Pages/Auth/Views/Info_User/info_workers.dart
lib/Packages/Pages/CurrentProjects/View/body.dart
lib/Packages/Pages/CurrentProjects/View/current_project_main1.dart
lib/Packages/Pages/CurrentProjects/View/projects_details.dart
lib/Packages/Pages/Home/Components/img_bttn.dart
lib/Packages/Pages/Home/View/body.dart
lib/Packages/Pages/Invoice/Components/invoice.dart
lib/Packages/Pages/Invoice/Components/invoiceItems.dart
lib/Packages/Pages/Invoice/View/body.dart
lib/Packages/Pages/NewProject/components/BoxDialog/dialog.dart
lib/Packages/Pages/NewProject/components/Button/but_up.dart
lib/Packages/Pages/NewProject/View/maintenance_project.dart
lib/Packages/Pages/NewProject/View/new_project.dart
lib/Packages/Pages/Payment_History/Components/infoo.dart
lib/Packages/Pages/Payment_History/View/body.dart
lib/Packages/Pages/Plan/Components/plan.dart
lib/Packages/Pages/Plan/Components/planInformion.dart
lib/Packages/Pages/Plan/View/body.dart
lib/Packages/Pages/Profile/View/profile_edit.dart
lib/Packages/Pages/Profile/View/profile_for_workers.dart
lib/Packages/Pages/Profile/View/profile.dart
lib/Packages/Pages/Profile/View/test_crop_images.dart
lib/Packages/Pages/Profile/View/upload_image.dart
lib/Packages/Pages/Profile/workerRequirements/current_projects_for_workers.dart
lib/Packages/Pages/Profile/workerRequirements/list_of_payments_to_workers.dart
lib/Packages/Pages/Profile/workerRequirements/work_requests_for_workers.dart
lib/Packages/Pages/Profile/workerRequirements/laborManagementForProfessionals/labor_management_for_professionals.dart
lib/Packages/Pages/Research/Components/support/support_class.dart
lib/Packages/Pages/Research/view/add_crafts.dart
lib/Packages/Pages/Research/view/body.dart
lib/Packages/Pages/Research/view/search_page.dart
lib/Packages/Pages/Splash/View/body.dart
lib/Routers/app_routers.dart
lib/Theme/app_color.dart
lib/Theme/custom_theme.dart
lib/Theme/style.dart
lib/Theme/theme_status.dart
lib/Utils/path_icons.dart
lib/Utils/path_images.dart
lib/validators/app_validators.dart
Packages/Pages/CurrentProjects/View/projects_details.dart
Packages/Pages/Home/View/body.dart
Packages/Pages/NewProject/View/maintenance_project.dart
Packages/Pages/NewProject/View/new_project.dart
Packages/Pages/Payment_History/View/body.dart
test/widget_test.dart
web/index.html
web/manifest.json
